# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on boot
    # MTK specific boot actions
    setprop ro.mediatek.platform mt6833
    
on post-fs-data
    # Create directories for fingerprint
    mkdir /data/vendor/fingerprint 0770 system system
    
    # WiFi
    mkdir /data/vendor/wifi 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa 0770 wifi wifi
    mkdir /data/vendor/wifi/wpa/sockets 0770 wifi wifi
    # Start power init to apply governor and power tweaks
    start power.init

service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service
    class late_start
    user system
    group system input

service power.init /vendor/bin/power-init.sh
    class late_start
    user root
    group root
    oneshot

